<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<link href="{{ STATIC_PREFIX }}css/bootstrap-tree.css" rel="stylesheet">

</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <ul class='nav'>
          <li>
            <a class="brand" href="/la_habilleur/">L'habilleur Intelligente</a>
          </li>
          <li>
            <ul class="breadcrumb">
              <li><a href = "/la_habilleur/">Manage wardrobe</a><span class="divider">/</span></li>
    	    </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    {% if error_message %}
    <div class="row">
      <div class="span12">
	<div class="alert alert-error">
	  <p><strong>{{ error_message }}</strong></p>
	</div>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="span3">
	{% load url from future %}
	<a href="{% url 'la_habilleur:drop-wardrobe' %}">Drop wardrobe</a>
	<h4>Current wardrobe</h4>
	{{ the_wardrobe }}
      </div>
      <div class="span9">
	<div class="span3">
	  <div class="well">
            <ul class="tree">
	      {% load la_habileur_template %}
	      {% for slot in cloth_db.iterkeys %}
              <li>
                <a href="#" role="branch" class="tree-toggle closed" data-toggle="branch"
		   data-value="Bootstrap_Tree">Slot {{ slot }}</a>
                <ul class="branch closed">
		  {% for cloth in cloth_db|lookup:slot %}
                  <li><a href="#" role="leaf" id="nut"
			 onclick="UpdateSelection('{{ cloth.name }}')">{{ cloth.name }}</a></li>
		  {% endfor %}
                </ul>
              </li>
	      {% endfor %}
            </ul>
          </div><!--/.well -->

	</div>
	<h4>Add item</h4>
	<form action="{% url 'la_habilleur:add-to-wardrobe' %}" method="post" class="form-inline">
	  {% csrf_token %}
	  <input type="text" name="cloth_name" id="cloth_to_add" autocomplete="off"
		 data-provide="typeahead"
		 data-items="4" data-source='[{% for cloth_list in cloth_db.itervalues %}
		 {% for cloth in cloth_list %} "{{ cloth.name }}"
		 {% if not forloop.parentloop.last or not forloop.last %},{% endif %}
		 {% endfor %}
		 {% endfor %}
		 ]'>
	  <button type="submit" class="btn">Add</button>
	</form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_PREFIX }}js/bootstrap-tree.js"></script>
  <script src="{{ STATIC_PREFIX }}la_habilleur/js/display_wardrobe.js"></script>
</body>
</html>
