{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% load url from future %}
<form action="{% url 'la_habilleur:view-suit-rank' %}" method="post">
{% csrf_token %}
    <input type="text" name="suit" id="suit" />
<input type="submit" value="Calc" />
</form>
